<br/>
<ol class="breadcrumb">
  <li><%= link_to 'Participantes', associados_path %></li>
  <li class="active">Cadastro</li>
</ol>

<h2>Cadastro</h2>

<div class="">
	<%= render 'form', associado: @associado %>
	<%= link_to 'Voltar', associados_path, class:"btn btn-default" %>
</div>
