<br/>
<ol class="breadcrumb">
  <li><%= link_to 'Financeiro', entradas_path %></li>
  <li class="active">Editar</li>
</ol>

<h2>Editar Entrada</h2>

<%= render 'form', entrada: @entrada %>

<%= link_to 'Voltar', entradas_path, class:"btn btn-default" %>